.small-margin-top {
    margin-top: 10px;
}

.big-margin-top {
    margin-top: 3%;
}

.table-margin {
    margin-top: 2%;
    margin-bottom: 2%;
}

.loader-60devs .loader-60devs-progress {
    background: #428bca;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.no-result-text {
    color: lightgrey;
    margin-top: 10%;
}